<a href="https://colab.research.google.com/github/ferrum0404/AdventureWorkAnalyst/blob/main/notebook1d50c1ced5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/microsoft-adventure-works-cycles-customer-data/AWCustomers.csv
/kaggle/input/microsoft-adventure-works-cycles-customer-data/AWTest-Classification.csv
/kaggle/input/microsoft-adventure-works-cycles-customer-data/AWSales.csv
/kaggle/input/microsoft-adventure-works-cycles-customer-data/AWTest-Regression.csv

(a) Examine the values of each attribute and Select a set of attributes only that would affect to predict
future bike buyers to create your input for data mining algorithms. Remove all the unnecessary
attributes. (Select features just by analysis).

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

The Marketing department of Adventure Works Cycles wants to increase sales by targeting specific
customers for a mailing campaign. The company's database contains a list of past customers and a list of
potential new customers. By investigating the attributes of previous bike buyers, the company hopes to
discover patterns that they can then apply to potential customers. They hope to use the discovered patterns
to predict which potential customers are most likely to purchase a bike from Adventure Works Cycles.

In [ ]:
df = pd.read_csv('../input/microsoft-adventure-works-cycles-customer-data/AWCustomers.csv') #Loading the data

In [ ]:
df.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06

In [ ]:
df.shape

(18361, 24)

In [ ]:
df.CustomerID.nunique() #checking unique values in customer id attribute

18355

In [ ]:
df.Title.isnull().sum() #checking null values in title attribute

18260

In [ ]:
df.Suffix.isnull().sum() #checking null values in title attribute

18358

In [ ]:
df.LastUpdated.nunique() #checking unique values in lastupdate attribute

2

In [ ]:
df.columns #Checking the names of each column

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome', 'LastUpdated'],
      dtype='object')

In [ ]:
x = ['CustomerID','Title','MiddleName','Suffix','AddressLine2','PostalCode','AddressLine1','City','PhoneNumber','FirstName','LastName','LastUpdated']
df1 = df.drop(x,axis = 1) # loading the data into df2 after dropping all the attributes

In [ ]:
df1.head()

,StateProvinceName,CountryRegionName,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,New South Wales,Australia,1987-11-13,Bachelors,Clerical,M,M,1,3,0,1,81916
1,British Columbia,Canada,1972-07-21,Partial College,Clerical,M,M,1,2,1,2,81076
2,California,United States,1985-11-09,Bachelors,Clerical,F,S,0,3,0,0,86387
3,England,United Kingdom,1977-10-18,Partial College,Skilled Manual,M,M,1,2,1,2,61481
4,Nordrhein-Westfalen,Germany,1975-02-05,Partial College,Skilled Manual,M,S,1,1,0,0,51804

In [ ]:
df.NumberCarsOwned.unique() # checking null values of numbercarsowned attribute

array([3, 2, 1, 0, 4, 5])

In [ ]:
df.HomeOwnerFlag.unique()

array([1, 0])

In [ ]:
df.Occupation.unique()

array(['Clerical', 'Skilled Manual', 'Manual', 'Management',
       'Professional'], dtype=object)

In [ ]:
df1.drop_duplicates() # removing the redundant data

,StateProvinceName,CountryRegionName,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,New South Wales,Australia,1987-11-13,Bachelors,Clerical,M,M,1,3,0,1,81916
1,British Columbia,Canada,1972-07-21,Partial College,Clerical,M,M,1,2,1,2,81076
2,California,United States,1985-11-09,Bachelors,Clerical,F,S,0,3,0,0,86387
3,England,United Kingdom,1977-10-18,Partial College,Skilled Manual,M,M,1,2,1,2,61481
4,Nordrhein-Westfalen,Germany,1975-02-05,Partial College,Skilled Manual,M,S,1,1,0,0,51804
...,...,...,...,...,...,...,...,...,...,...,...,...
18356,California,United States,1990-11-11,Graduate Degree,Skilled Manual,F,M,0,1,0,2,52953
18357,New South Wales,Australia,1992-10-13,Bachelors,Skilled Manual,F,S,0,2,0,0,60992
18358,Oregon,United States,1983-11-24,Partial College,Skilled Manual,F,S,0,2,0,0,51859
18359,British Columbia,Canada,1995-06-15,High School,Clerical,F,S,0,0,0,0,87177
18360,California,United States,1986-03-26,Graduate Degree,Professional,F,M,1,2,0,0,136856

In [ ]:
df1.shape # after removing redundant data

(18361, 12)

In [ ]:
df1.head()

,StateProvinceName,CountryRegionName,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,New South Wales,Australia,1987-11-13,Bachelors,Clerical,M,M,1,3,0,1,81916
1,British Columbia,Canada,1972-07-21,Partial College,Clerical,M,M,1,2,1,2,81076
2,California,United States,1985-11-09,Bachelors,Clerical,F,S,0,3,0,0,86387
3,England,United Kingdom,1977-10-18,Partial College,Skilled Manual,M,M,1,2,1,2,61481
4,Nordrhein-Westfalen,Germany,1975-02-05,Partial College,Skilled Manual,M,S,1,1,0,0,51804